body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./img/main_background.png');
  background-position: center;
}

main {
  max-width: 100%;
  margin: auto;
  padding: 0;
  margin-top: 60px;
}

.mainbackground {
   margin-top: 58px;
   background-image: url('./img/main_background.png');
   background-position: center;
   height: 1200px;
   width: 100%;
}

/*------------------------NavMenu Component-----------------------------------*/
.nav-container {
  background-color: #353535;
  height: 58px;
  margin: 0 -15px 0px -15px;
  border: #353535;
}

.navbar-header > a.navbar-brand {
  font-weight: 900;
  font-size: 25px;
  color: white;
  padding-top: 0px;
}

.navbar-header > a.selected.navbar-brand {
  color: #F4DA9D;
  text-decoration: none;
}

div.navbar-collapse.collapse {
  float: right;
  padding-top: 8px;
}

div.navbar-collapse.collapse > a {
  font-size: 25px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

div.navbar-collapse.collapse > a:hover {
  text-decoration: none;
  color: #F4DA9D;
  padding-bottom: 14px;
  border-bottom: 4px solid #F4DA9D;
}

div.navbar-collapse.collapse > a.selected {
  font-weight: 900;
  color: #F4DA9D;
  text-decoration: none;
  background-color:rgba(240, 240, 245, 0.1);
  padding-bottom: 14px;
  border-bottom: 4px solid #F4DA9D;
}

/*Media Query Settings*/
@media screen and (max-width: 767px){
  .navbar-header {
      padding-bottom: 0px;
      border-bottom: 1px solid #353535;
  }

  button.navbar-toggle:hover,
  button.navbar-toggle:focus {
    background-color: #353535 !important;
    border: 1.5px solid #F4DA9D !important;
  }

  button.navbar-toggle.collapsed {
    color: #353535;
    border: 1.5px solid white;
  }

  span.icon-bar {
    border: 1px solid white;
  }

  div.navbar-collapse.collapse.in {
      margin-top: 5px;
      border-top: 1px solid #353535;
  }

   a.navbar-brand {
    color: white;
  }

  div.navbar-collapse.collapse {
    background-color:#353535;
    margin: 0px -15px 0px -15px;
  }

  div.navbar-collapse.collapsing {
    display: none;
  }

  div.navbar-collapse.collapse.in > a {
    float: left;
    display: block;
    padding-right: 400px;
    width: 300px;
  }

  div.navbar-collapse.collapse > a:hover {
    text-decoration: none;
    color: #F4DA9D;
  }

  div.navbar-collapse.collapse > a.selected {
    color: #F4DA9D;
    text-decoration: none;
    background-color: #353535;
    border-bottom: none;
  }

  div.navbar-collapse.collapse > a {
    padding-top: 10px;
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 420px){
  div.navbar-collapse.collapse > a {
    margin-right: -80px;
  }
}

@media screen and (max-width: 340px){
  div.navbar-collapse.collapse > a {
    margin-right: -100px;
  }
}

@media screen and (max-width: 320px){
  div.navbar-collapse.collapse > a {
    margin-right: -120px;
  }
}

@media screen and (max-width: 300px){
  div.navbar-collapse.collapse > a {
    margin-right: -140px;
  }
}

@media screen and (max-width: 280px){
  div.navbar-collapse.collapse > a {
    margin-right: -160px;
  }
}

/*------------------------End of NavMenu Component----------------------------*/


/*------------------------Footer Component------------------------------------*/
.nav-footer {
  padding-top: 5px;
  background-image: url('./img/mid_dark.png');
}

.keep-in-touch-container {
    padding-bottom: 10px;
    background-color: #353535;
}


.text-in-keep-in-touch-container {
  margin-top: 7px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.social-link-container {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #353535;
}

i.social-link {
    font-size: 60px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

i.social-link:hover,
i.social-link:focus {
    color: #F4DA9D;
    cursor: pointer;
}

.contact-detail-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #353535;
}

.text-in-contact-detail-container {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.address-contact-detail-container {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/*Media Query Settings*/
@media screen and (max-width: 500px){
    img.background-footer {
       height: 80px;
    }

    .text-in-keep-in-touch-container {
        padding-top: 25px;
        font-size: 28px;
    }
}

@media screen and (max-width: 400px){
    .text-in-keep-in-touch-container {
        font-size: 25px;
    }

    i.social-link {
        font-size: 50px;
    }

    .text-in-contact-detail-container {
        font-size: 28px;
    }

    .address-contact-detail-container {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px){
    .text-in-keep-in-touch-container {
        font-size: 23px;
    }

    .text-in-contact-detail-container {
        font-size: 27px;
    }

    .address-contact-detail-container {
        font-size: 15px;
    }
}

@media screen and (max-width: 300px){
    .text-in-keep-in-touch-container {
        font-size: 20px;
    }

    .text-in-contact-detail-container {
        font-size: 25px;
    }

    .address-contact-detail-container {
        font-size: 14px;
    }
}

/*-------------------------End of Footer Component----------------------------*/



/*-------------------------Collapse Component---------------------------------*/
.Collapsible {
    /*collapsed container*/
    background-color: rgba(250,218,157,0.6);
}

.Collapsible__contentInner {
    padding: 10px;
    /*border of collapsed container*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    border-top: 0;
}

.Collapsible__contentInner p {
    /*content inside collapsed container*/
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 5px;
}

.Collapsible__trigger {
    /*Non-collapsed container*/
    display: block;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    border-bottom: 1px solid white;
    padding: 10px;
    background: #353535;
}

.Collapsible__trigger:hover {
    cursor: pointer;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    color: white;
    position: absolute;
    font-weight: 900;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}

/*Not is use
.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}
*/
/*------------------------End of Collapse Component---------------------------*/

/*-----------------------FaqPage----------------------------------------------*/
div.section-1-faq {
    position: relative;
}

div.background-caption-faq {
    display: block;
    margin: 0 auto;
    z-index: 10;
}

.accordion-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.accordion-container {
    width: 65%;
}

span.Collapsible__trigger.is-open,
div.Collapsible__contentInner {
    margin-top: 100px;
    width: 65%;
    margin: 0 auto;
}

/*Media Query Settings*/
@media screen and (max-width: 1388px){
  .accordion-container {
      width: 85%;
  }

  span.Collapsible__trigger.is-open,
  div.Collapsible__contentInner {
      width: 85%;
  }
}

@media screen and (max-width: 980px){
  .Collapsible__contentInner p {
      font-size: 22px;
  }

  .Collapsible__trigger {
      font-size: 18px;
  }
}

@media screen and (max-width: 980px){
  .Collapsible__contentInner p {
      font-size: 21px;
  }

  .Collapsible__trigger {
      font-size: 17px;
  }
}

@media screen and (max-width: 630px){
  .accordion-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .Collapsible__contentInner p {
      font-size: 20px;
  }

  .Collapsible__trigger {
      font-size: 16px;
  }
}

@media screen and (max-width: 767px){

    h1.h1-faq {
        margin-top: -150px;
        font-size: 45px;
    }
}

@media screen and (max-width: 500px){
  .accordion-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .accordion-container {
      width: 100%;
  }

  span.Collapsible__trigger.is-open,
  div.Collapsible__contentInner {
      width: 100%;
  }

  .Collapsible__contentInner p {
      font-size: 19px;
  }

  .Collapsible__trigger {
      font-size: 15px;
  }
}

@media screen and (max-width: 400px){
  .accordion-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .Collapsible__contentInner p {
      font-size: 18px;
  }

  .Collapsible__trigger {
      font-size: 14px;
  }
}

@media screen and (max-width: 350px){
  .accordion-wrapper {
      padding-top: 25px;
      padding-bottom: 10px;
  }

  .Collapsible__contentInner p {
      font-size: 17px;
  }

  .Collapsible__trigger {
      font-size: 13px;
  }
}

@media screen and (max-width: 300px){
  .accordion-wrapper {
      padding-top: 40px;
      padding-bottom: 10px;
  }
}

@media screen and (max-width: 250px){
  .accordion-wrapper {
      padding-top: 60px;
      padding-bottom: 10px;
  }
}
/*-----------------------End of FaqPage---------------------------------------*/

/*------------------------ContactPage-----------------------------------------*/
div.section-1-contact {
    position: relative;
}

div.background-caption-contact {
    display: block;
    margin: 0 auto;
    z-index: 10;
}


/*
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:100vh;
}
*/

.container-element {
    height: 550px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.map-element {
    position: relative;
    height: 550px;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px){

    div.background-caption-contact {
        margin-top: 30px;
    }

    h1.h1-contact {
        margin-top: -150px;
        font-size: 45px;
    }
}
/*------------------------------End of ContactPage----------------------------*/

/*------------------------------Button Default----------------------------*/

/*-----------------------------ContactForm Component--------------------------*/
.contact-wrapper {
  margin-top: 30px;
}

div.well.well-lg {
    background-color: rgba(53, 53, 53, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 800px;
}

div.panel-body {
  width: 95%;
  max-height: 650px;
}

.form-header {
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding-bottom: 5px;
}

.contact-form-panel {
  background-color: rgba(53, 53, 53, 0.8);
  border: 2px solid white;
}

label.col-sm-2.col-form-label {
  font-size: 20px;
  color: white;
}

div.panel.panel-default.custom {
    border: 1px solid rgba(53, 53, 53, 0.8);
}

div.formErrors > p {
  color: red;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: pink;
}

div.col-lg-offset-2 {
  margin-top: 30px;
}

input.btn {
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #353535;
  border-radius: 8px;
  border: 3px solid white;
}

input.btn:hover,
input.btn:focus {
  color: white;
  background-color: #73BF45;
  border: 3px solid #73BF45;
}

button.btn.btn-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

button.btn.btn-link:hover,
button.btn.btn-link:focus {
  font-weight: 700;
  color: #DD6D26;
}

/*Media Query Settings*/
@media screen and (max-width: 1200px){
  label.col-sm-2.col-form-label {
    font-size: 17px;
  }
}

@media screen and (max-width: 1050px){
  label.col-sm-2.col-form-label {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px){
  div.well.well-lg {
      max-height: 850px;
  }

  div.panel-body {
    width: 100%;
    max-height: 720px;
  }

  div.formErrors > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 565px){
  div.well.well-lg {
      max-height: 900px;
  }

  div.panel-body {
    width: 100%;
    max-height: 760px;
  }
}

@media screen and (max-width: 400px){
    .form-header {
        font-size: 25px;
    }

    div.formErrors > p {
      font-size: 12px;
    }
}

@media screen and (max-width: 320px){
    .form-header {
        font-size: 23px;
    }

    div.formErrors > p {
      font-size: 10px;
    }
}

/*-------------------------End of ContactForm Component-----------------------*/
/*Anchor Link*/

a.anchor-default-link {
  color: #000000;
  font-size: 24px;
  text-decoration: underline;
}
a.anchor-default-link:hover,
a.anchor-default-link:focus {
  color: #DD6D26;
  font-size: 24px;
  text-decoration: underline;
}

/*-------------------------HomePage-------------------------------------------*/

/*Background-Images for Home Page*/
.section-1-home {
  margin-bottom: 100px;
}

.secondary-section {
  background-color: rgba(53, 53, 53, 0.8);
  padding: 20px 0;
  margin-bottom: 100px;
  color: white;
}

.secondary-section h1 {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
}

.secondary-section p {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 40px;
}

p.secondary-section-emphasis {
  font-weight: 700;
}

.secondary-section-wrapper {
  display: flex;
  justify-content: space-around;
}

.secondary-section-content {
  padding: 0 30px;
}

.secondary-section-image {
  padding: 0 30px;
}

.secondary-section-image img {
  width: 200px;
}

img.vacl-logo {
  width: 20%;
  margin: 0 auto;
}

.home-heading-text {
    color: #353535;
    font-weight: 700;
    font-size: 42px;
    padding: 0px 10px 0px 10px;
}

img.boom-img {
  width: 50%;
  margin: 0 auto;
}

div.button-container {
  margin-top: 40px;
}

button.learn-now-button {
  border-radius: 15px;
  background-color: #353535;
  font-weight: 500;
  font-size: 24px;
  padding: 20px 60px;
}

button.learn-now-button > a {
  color: white;
}

button.learn-now-button:hover > a,
button.learn-now-button:focus > a {
  background-color: #353535;
  color: #F4DA9D;
  text-decoration: none
}


div.sign-in-link-container {
  margin-top: -15px;
}

a.sign-in-link {
  color: #353535;
  font-weight: 700;
  font-size: 35px;
  text-decoration: underline;
}

a.sign-in-link:hover,
a.sign-in-link:focus {
   color: #73BF45;
}

/*Media Query Settings for Home Section 1*/
@media screen and (max-width: 600px){

  main {
    padding-top: 20px;
  }

  img.vacl-logo {
    width: 40%;
  }

  img.boom-img {
    width: 70%;
  }

  .secondary-section-wrapper {
    display: block;
    justify-content: space-around;
  }
  .secondary-section-image {
    text-align: center;
  }

  img.vacl-logo {
    margin-bottom: 5px;
  }


  div.button-container {
    margin-top: 30px;
  }

  button.learn-now-button {
    font-size: 20px;
    padding: 15px 50px;
  }
}

@media screen and (max-width: 380px){

  .img.vacl-logo {
    margin-bottom: 40px;
  }

  .home-heading-text {
    font-size: 30px;
    padding: 0px 3px 0px 3px;
  }

}

/*------------------------------End of HomePage-------------------------------*/

/*New CSS as @4/07/2017 6:30pm
/*-----------------------------SubHeading Component---------------------------*/
h1.sub-heading-text {
  padding-left: 50px;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

/*Media Query Settings for SubHeading Component*/
@media screen and (max-width: 1200px){
  h1.sub-heading-text {
    font-size: 45px;
    margin-left: -25px;
  }
}

@media screen and (max-width: 800px){
  h1.sub-heading-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px){
  h1.sub-heading-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px){
  h1.sub-heading-text {
    font-size: 23px;
  }
}

@media screen and (max-width: 400px){
  h1.sub-heading-text {
    font-size: 18px;
  }
}

/*----------------------------End of SubHeading Component---------------------*/

/*---------------------------LevelCourse Component----------------------------*/
.img-rounded {
  padding-left: 20px;
}

a.img-link:hover > h5.course-name-title,
a.img-link:focus > h5.course-name-title {
  color: #DD6D26;
  text-decoration: underline;
  -moz-text-decoration-color: #DD6D26;
  text-decoration-color: #DD6D26;
}

h5.course-name-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-decoration: none;
  padding-bottom: 60px;
}

h5.course-name-title:hover,
h5.course-name-title:focus {
  color: #DD6D26;
  text-decoration: underline;
  -moz-text-decoration-color: #DD6D26;
  text-decoration-color: #DD6D26;
}

/*Media Query Settings for LecelCourse Component*/
@media screen and (max-width: 1200px){
  h5.course-name-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px){
  h5.course-name-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px){
  h5.course-name-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px){
  h5.course-name-title {
    font-size: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 400px){
  h5.course-name-title {
    font-size: 12px;
    padding-bottom: 10px;
  }
}
/*----------------------------End of LevelCourse Component--------------------*/

/*---------------------------SingleCoursePage---------------------------------*/
a.img-link > img {
  margin: 0 auto;
}

.course-description {
  margin-top: -20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  color: black;
}
